.usersListPage{
    width: auto;
}

.removeMsg{
background-color: rgb(255, 132, 132);
border: 1px black solid;
border-radius: 10px;
margin: 10px !important;
padding: 10px !important;;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
    margin: 20px 5px !important;
}

.css-1hw9j7s {
    margin: 20px !important;
}

.listUser{
    display: flex;
    justify-content: flex-end;
    margin: -10px 0;
}

.AccountCircleIcon{
    margin: 0 0 0 20px;
}