.ItemsListWrapper {
display: flex;
flex-direction: column;
}

/* .AccordionSummary {
    display: flex !important;
    justify-content: flex-end !important;
} */
/* 
.listOfItems {
    display: flex !important;
    justify-content: space-evenly !important;
} */

.quantity {
    margin: 0 12px;
    display: flex;
}